.usuarios-contenedor {
    text-align: center;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color:   #2c3e50;
    padding-top: 10rem;
    background-color: $negro;
    color: whitesmoke;   
    word-wrap: break-word;
    h2{
        text-align: center;
        color: lightblue;
        font-family: $anton;
    }
}
.usuario-contenedor{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: lightcyan;
    word-wrap: break-word;
    p {color:lightcyan;
        font-size: 2rem;
        font-family: $anton; }
    span {
        color:lightsalmon;
        font-size: 4rem;    
    }
    hr{
        width: 150px;
        padding-left: 50px;
        text-align: center;
        margin: auto;
        float: center;
        border: 0; 
        height: 2px;
        background:darkorange;  
    }
}
.usuario-contenedor__contacto {
    word-wrap: break-word;
    h5 {
        color:$mora;
        font-size: $talla-l;
        font-family: $yanone; 
    }
    hr{
        width: 150px;
        padding-left: 50px;
        text-align: center;
        margin: auto;
        float: center;
        border: 0; 
        height: 2px;
        background:darkorange;  
    }
    p > a {
        color:mediumaquamarine;
        &:hover {color: lightgreen; }
    }
    span {
        color:rgb(29, 51, 29);
        font-size: 2rem;
    }
}
.intelimetrica {
    font-family: $anton;
    color: lightcoral;
    font-size: $talla-m;
}
.fa-facebook-f {
    cursor: pointer;
    height: 1em;
    width: 3em;
    background-color:royalblue;
    color:whitesmoke;
}
@media (min-width:320px ) {
    .cabecera-nota {}
}